@import '../../../styles/partials/colors';
@import '../../../styles/partials/fonts';
@import '../../../styles/partials/media';
@import '../../../styles/partials/variables';
@import '../../../styles/partials/mixins';


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal {
    width: 100vw;
    @include card-styling;
    &__title {
        @include card-title;
    }
    &__list {
        @include flex-column(1rem);
    }
    &__list-name, &__list-type  {
        @include modal-form-styling;
    }
    &__add-button {
        @include button-styling;
        @include field-button-styling;
    }
}