$paper-color: #f5f0e1;
$primary-text-color: #523c00;
$modal-color: #b8b08dd3;
$button-and-hover-color: #523c0096;
$danger-color: red;

$faded-text-color: #523c00a6;

body {
    color: $primary-text-color;
}