$paper-color: #f5f0e1;
$primary-text-color: #523c00;
$modal-color: #b8b08dd3;
$button-and-hover-color: #523c0096;

$faded-text-color: #523c00a6;

body {
    color: $primary-text-color;
}

// $muted-corals-buttons: #F4A261;
// $light-gray-card: #F1FAEE;
// $dark-slate-text: #1D3557;
// $warm-beige: #E9C46A;