@use './colors';
@use './fonts';
@use './media';
@use './variables';

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin appear-animation {
    opacity: 0;
    animation: appear-user forwards;
    animation-delay: 1.75s;
}

@mixin flex-column($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin flex-center() {
    display: flex;
    align-items: center;
}

@mixin logo-size {
    width: 4rem;
    height: 3.28rem;
}

@mixin button-styling {
    background-color: $button-and-hover-color;
    color: white;
    font-weight: 600;
    text-align: center;
    margin: auto;
}

@mixin field-button-styling {
    width: 8.75rem;
    box-sizing: border-box;
    border-radius: $border-radius;
    padding: .25rem .5rem;
    &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
}

@mixin card-styling {
    background-color: $modal-color;
    margin: 1rem;
    padding: 1rem;
    border-radius: $border-radius;
    @include flex-column(1rem);
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@mixin card-title {
    text-align: center;
    padding-bottom: .5rem;
    border-bottom: 1px solid $primary-text-color;
}

@mixin modal-form-styling {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    &--label {
        width: 3.125rem;
    }
    &--field {
        border: .0625rem solid $primary-text-color;
        @include field-button-styling;
    }
}

@mixin add-mixin {
    background-color: $modal-color;
    min-width: 16rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: $border-radius;
    text-decoration: none;
    &:hover {
        background-color: $button-and-hover-color;
        color: white;
    }
}

@mixin options-styling__list {
    padding: 1rem;
    @include flex-column(2rem);
    list-style-type: none;
}

@mixin options-styling--item {
    padding: 0.5rem;
}

@mixin options-styling__link {
    color: $primary-text-color;
    text-decoration: none;
}