@import '../../styles/partials/colors';
@import '../../styles/partials/fonts';
@import '../../styles/partials/media';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.added_list {
    & > * {
        text-decoration: none;
        color: $primary-text-color;
        text-align: center;
    }
    &-name {
        @include add-mixin;
    }
}