@import '../../styles/partials/colors';
@import '../../styles/partials/fonts';
@import '../../styles/partials/media';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.header {
    @include flex-center;
    justify-content: center;
    padding: 1rem;
    
    &__menu {
        position: absolute;
        left: 1rem;
        &:hover {
            cursor: pointer;
        }
    }
    
    &__logo {
        @include logo-size;
        transform: translateY(50vh) scale(1.5);
        animation: move-logo 2s ease-in-out forwards;
    }
    
    &__logo--no-animation {
        @include logo-size;
    }
    
    &__user-icon {
        position: absolute;
        right: 1rem;
        &:hover {
            cursor: pointer;
        }
    }
    
    &--no-animation {
        justify-content: center;
    }
}


@keyframes move-logo {
    to {
        transform: translateY(0) scale(1);
    }
}

@keyframes appear-user {
    100% {
        opacity: 1;
    }
}
