@import '../../styles/partials/colors';
@import '../../styles/partials/fonts';
@import '../../styles/partials/media';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    .empty {
        width: 1rem;
    }
    &__logo {
        width: 4rem;
        height: 3.28rem;
        transform: translateY(50vh) scale(1.5);
        animation: move-logo 2s ease-in-out forwards;
    }
    &__user {
        @include appear-animation;
    }
}

@keyframes move-logo {
    to {
        transform: translateY(0) scale(1);
    }
}

@keyframes appear-user {
    100% {opacity: 1;}
}