@import '../../../styles/partials/colors';
@import '../../../styles/partials/fonts';
@import '../../../styles/partials/media';
@import '../../../styles/partials/variables';
@import '../../../styles/partials/mixins';

.list {
    &__header {
        display: flex;
        align-items: center;
        border-bottom: .0625rem solid $primary-text-color;
        padding-bottom: .5rem;
        gap: 1rem;
        &-button {
            margin: auto;
            @include button-styling;
            @include field-button-styling;
        }
    }
}