@import '../../styles/partials/colors';
@import '../../styles/partials/fonts';
@import '../../styles/partials/media';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.list {
    @include flex-column(1rem);
    padding: 1rem;
    &__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}