@import './styles/partials/colors';
@import './styles/partials/fonts';
@import './styles/partials/media';
@import './styles/partials/variables';
@import './styles/partials/mixins';

body {
  margin: 0;
  padding: 0;
  background-color: $paper-color;
  color: $primary-text-color;
}

