@import './styles/partials/colors';
@import './styles/partials/fonts';
@import './styles/partials/media';
@import './styles/partials/variables';
@import './styles/partials/mixins';

body {
  margin: 0;
  padding: 0;
  min-width: 20rem;
  background-color: $paper-color;
  color: $primary-text-color;
  @include tablet {
    padding: 1.6875rem 2rem;
  }
  @include desktop {
    padding: 1.6875rem 8.125rem;
  }
}

.full-page {
  @include flex-column(0);
  min-height: 95vh;
  &__content{
    flex: 1;
    @include flex-column(0);
  }
  &__footer{
    @include flex-column(0);
  }
}

